<div class="post">
  
  <table>
    <tr>
      <td class="td20">
          <div class="imgPosterContainer">
              <img class="imgPoster" *ngIf="service.user.userInfo.image" src='data:image/jpeg;base64,{{service.user.userInfo.image}}' >
              <img class="imgPoster" *ngIf="!service.user.userInfo.image" src="assets/profile.png" >
          </div>
      </td>


      <td class="td80">
          <div class="textAreaContainer"> 
              <textarea class="form-control" [(ngModel)]='textPost' placeholder="What's On Your Mind, {{service.user.userInfo.username}}? "   rows="5" id="comment"></textarea> 
            </div>
      </td>
    </tr>
   
  </table>
  <div *ngIf="photoPost" class="photoPostContainer">
      <img   src='data:image/jpeg;base64,{{photoPost}}' >
  </div>
  <div class="marginTop10">
        <form class="float-left" id="test_form" method="GET" action="">
                <label id="pic1">
                        <span class="glyphicon glyphicon-picture"> </span> 
                  <input type="file" id="filePicker" (change)="handleFileSelect($event)"  >
              
                </label>
              </form>
  <button class="float-right btn btn-primary" [disabled]=' !textPost && !photoPost ' (click)="sharePost()" >Post</button>  
    </div>
</div>
<div class="clearFix"></div>