/* You can add global styles to this file, and also import other style files */

body * {
  outline: none;
  word-break: break-word;
}

body {
  margin: 0;
  padding: 0;
  /* padding-left: 200px;
    padding-top: 40px; */
  background: #fafafb;
}

.haveId app-header,
.haveId app-aside-bar {
  display: block;
}

.haventId app-header,
.haventId app-aside-bar {
  display: none;
}

.haveId .content {
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 1000px) {
  aside {
    width: 75px !important;
  }
  .haveId .content {
    margin-left: 75px;
    margin-right: 0px;
  }
  .userChatContainer{
    text-align: center;
  }
  .nameUserChat{
    display: block;
  }
  .userChatContainer{
    height: 80px!important;
}
.userChatContainer hr{
  bottom: -19px!important;
  border-top-color: #e5e4e4!important;
}
.headerMessenger{
  width: 100%;
  height: 65px;
  position: fixed;
  top: 50px;
}
.textMessage{
  width: calc(100% - 75px)!important;
}
.messagesContainer{
  margin: 65px 0;
}
.headerMessenger .imageUserMessenger img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #888888;
  margin: 7px 0 0 11px;
  float: left;
}
.headerMessenger .info{
  float: left;
  padding: 8px;
  position: absolute;
  left: 59px;
}
.headerMessenger .info p{
  margin: 0!important;
}
}

@media (max-width: 768px) {
  aside {
    width: 75px !important;
  }
  .haveId .content {
    margin-left: 75px;
    margin-right: 0px;
  }
  .post {
    width: 80% !important;
  }
  .cover label {
    right: 20px !important;
  }
  .cover-changer {
    display: none;
  }
  .short_info[_ngcontent-c3] {
    zoom: 0.8;
  }
  .textMessage{
    width: calc(100% - 75px)!important;
  }
}

@media (max-width: 400px) {
  aside {
    width: 75px !important;
    left: -75px;
  }
  .haveId .content {
    margin-left: 0px;
    margin-right: 0px;
  }
  .post {
    width: 90% !important;
  }
  .side-btn {
    display: block !important;
  }
  .tableContainer {
    width: 98%!important;
  }
  .textMessage{
    width: 100%!important;
  }
}

@media(min-width: 401px) {
  .closed,
  .opened {
    left: unset !important;
    transition: unset !important;
  }

}

input[type=file] {
  display: none;
}

label {
  border: 1px solid white;
  /* text-align: center; */
  color: #4073ad;
  border-radius: 4px;
  /* margin: auto; */
  width: 24px;
  height: 24px;
  padding: 2px 4px;
  display: block;
  background-color: #e8e8d2;
  cursor: pointer;
}

.flaotLeft{
  float: left;
}

.flaotRight{
  float: right;
}
.clearFex{
clear: both;
}