.post{
   
    width: 70%;
    margin: 20px auto;
    min-height: 150px;
    box-shadow: 0px 0px 0px 1px #8888884f;
    border-radius: 4px;
    padding: 10px;
}
table{
    width: 100%;
}
.td20{
    width: 10%
}

.td80{
    width: 80%
}
.post .textAreaContainer{
    width: 100%;
    height: 100px;
    margin: auto;
}
.post .textAreaContainer textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 8px 16px;
    border: none;
    background: #fafafb;
    resize: none;
    box-shadow: 0px 0px 1px 0px #cca2a2;
}

.post .textAreaContainer textarea:focus{
    box-shadow: 0px 0px 0px 1px #e8e8d2;
}

.post:focus {
    box-shadow: 0px 0px 110px 1px #242406;
}
.post .imgPoster{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px #88888859;
}
.float-right{
    float:right;
}
.float-left{
    float:left;
    margin-top: 8px;
}
.marginTop10{
    height: 35px;
    margin-top: 10px;
}
.photoPostContainer{
    margin: 30px 0px;
}
.photoPostContainer img{
    width: 90%;
    margin: auto;
    display: block;
}
.clearFix{
    clear: both;
}