.comment{
    margin: 5px 0px;
    padding: 4px;
    box-shadow: 0px 0px 1px -1px #888888;
    background: #f8f8f8;
    position: relative;
}
.userImageComment{
    width: 30px;
    float: left;
}
.userImageComment img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.userNameComment{
    float: left;
    padding-left: 10px;
    color: #0070d3;
    
}
.userNameComment p{
    margin: 0; 
}
.date{
    font-size: 10px;
    color: #b0acac;
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.pointer{
    cursor: pointer;
}
.commentText{
    margin: -9px 0px 7px 38px;
}