@media (min-width: 1001px) {
    .headerMessenger{
        width: 200px;
        height: calc(100% - 50px);
        position: fixed;
        right: 0px;
        text-align: center;
    }
    .headerMessenger .imageUserMessenger img{
        width: 165px;
        height: 165px;
        margin: 20px auto;
        display: block;
        border-radius: 50%;
        border: 5px solid #0079ff;
    }
}
.headerMessenger{
    background: #e5e7e8;
}

.bold{
    font-weight: bold;
}

.textMessage{
    width: calc(100% - 400px);
    min-height: 50px;
    background: white;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #dfdbdb;

}

.photoMessageContainer{
    text-align: center;
    margin-top: 5px;
}
.photoMessageContainer img{
    width: 220px;
    border-radius: 9px;
}
.form {
    width: 80%;
    margin: 11px auto;
    position: relative;
}

.form .input{
    width: calc(100% - 68px);
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border: none;
    height: 25px;
    padding: 10px;
    box-shadow: 0px 0px 1px 0px #888888;
}
.form .button{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border: none;
    height: 26px;
    box-shadow: 0px 0px 0px 1px #bcbcbc;
}
.form label{
    display: inline-block;
}
 
.messagesContainer .you{
     
    min-height: 20px;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow: auto;
}

.messagesContainer .you > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}
.messagesContainer .you .messageContent{
    float: left;
    margin-left: 7px;
    background: #ededed;
    padding: 5px;
    border-radius: 7px;
    max-width: calc(19% + 112px);
    min-width: 24px;
    position: relative;
    box-shadow: 0px 0px 1px 0px #839bc0;
}
.messagesContainer .you .messageContent p{
    position: relative;
    text-align: left;
}
.messagesContainer .you .messageContent::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #ededed;
    display: block;
    position: absolute;
    left: -2px;
    transform: rotate(44deg);
    z-index: 0;
}







.messagesContainer .me{
   
    min-height: 20px;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow: auto;
}
.messagesContainer .me > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
}
.messagesContainer .me .messageContent{
    float: right;
    margin-right: 7px;
    background: #afe8ff;
    padding: 5px;
    border-radius: 7px;
    max-width: calc(19% + 112px);
    min-width: 24px;
    position: relative;
    box-shadow: 0px 0px 1px 0px #888888;
}
.messagesContainer .me .messageContent p{
    position: relative;
    text-align: right;
}
.messagesContainer .me .messageContent::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #afe8ff;
    display: block;
    position: absolute;
    right: -2px;
    transform: rotate(44deg);
    z-index: 0;
}

