@media (min-width: 1001px) {
    .headerMessenger{
        width: 200px;
        height: calc(100% - 50px);
        background: cadetblue;
        position: fixed;
        right: 0px;
    }
}

.textMessage{
    width: calc(100% - 400px);
    height: 50px;
    background:  burlywood;
    position: fixed;
    bottom: 0px;
}

