<div class="headerMessenger">
  <div class="imageUserMessenger">
    <img src="assets/profile.png">
  </div>
  <div class="info">
    <p class="bold">Jamals </p>
    <p>example@example.com</p>

  </div>
</div>


<div class="textMessage">
  <div *ngIf="photoPost" class="photoMessageContainer">
    <img src='data:image/jpeg;base64,{{photoPost}}'>
  </div>
  <form class="form" action="post">
    <label id="pic1">
      <span class="glyphicon glyphicon-picture"> </span>
      <input type="file" id="filePicker" (change)="handleFileSelect($event)">
    </label>
    <input class="input" type="text">
    <button class="button">dd</button>
  </form>
</div>
<div class="messagesContainer">
  <div class="me">
    <img src="assets/profile.png">
    <div class="messageContent">
      <p> . </p>
    </div>

  </div>

  <div class="you">
    <img src="assets/profile.png">
    <div class="messageContent">
      <p> .</p>
    </div>
  </div>
</div>