
.videoContainer{
    width: 75%;
    margin: auto;
}

.myVideo{
    transform: scaleX(-1);
    width: 11%;
    z-index: 8;
    position: absolute;
    transform: scaleX(-1);
    border: 2px solid #888888;
    border-radius: 4px;
}
.myPeerVideo{
    transform: scaleX(-1);
    width: 100%;
}