.cover{
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    min-height: 300px;
    background-color: #001527;
}

.change-cover-profile-container{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0px;
    opacity: 0;
    transition: all .4s ease;  
}
.change-cover-profile-container label{
    position: absolute;
    background: #00509654;
    color: white;
    border: 1px solid #6f6f6f70;
    width: auto;
    zoom: 0.8;
    right: 68px;  
    bottom: 14px;  
}

.change-cover-profile-container:hover  {
    opacity: 1;
}

.writeapost{
    width: 73%;
    margin: 12px auto -13px;
    color: #888888;
}
.image-profile-container{
    margin: auto;
    width: fit-content;
}
.image-profile-container img{
    height: 167px;
    margin: auto;
    width: 167px;
    margin-top: -133px;
    display: block;
    -webkit-box-shadow: 0 0 16px 0 #000;
    box-shadow: 0 0 16px 0 #000;
    border: 5px solid #fff;
    border-radius: 6px;
}

.image-profile-container:hover .change-image-profile-container{
    opacity: 1;
}



.change-image-profile-container{
    height: 167px;
    margin: auto;
    width: 167px;
    position: relative;
    margin-top: -167px;
    z-index: 11;
    border: 5px solid #fff;
    border-radius: 6px;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#001527fc));
    background: linear-gradient(#ffffff00, #001527fc);
    transition: all .4s ease;
}


.change-image-profile-container label {
    bottom: 0px;
    right: 6px;
    position: absolute;
    background: #00509654;
    color: white;
    border: 1px solid #6f6f6f70;
    width: auto;
    zoom: 0.8;
}

.follow{
    width: 95px;
    height: 95px;
    text-align: center;
    border: 5px solid #e8e8d2;
    border-radius: 50%;
    display: inline-flex;
    margin: 8px 26px;
}
.follow p{
    margin: auto;
    font-weight: bold;
    font-family: sans-serif;
}
.short_info{
    text-align: center;
    margin: 8px
}

.short_info span{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    line-height: 30px;
    max-width: 275px;
}
.hdn{
    display: none;
}