.userChatContainer{
    height: 65px    ;
    overflow: hidden;
    position: relative;
}
.image{
    width: 42px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #b3b3b3;
    margin: 10px 0px 2px 0px;
}
.nameUserChat{
    display: inline-block;
}
.nameUserChat::first-letter { 
    font-size: 130%;
    color: #0079ff;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: bold;
}
.imageUserContainer{
    width: 50px;
    position: relative;
    display: inline-block;
}
.notfyChat{
    position: absolute;
    display: block;
    background: #f34949;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    right: 2px;
    top: 6px;
}
.userChatContainer hr{
    position: absolute;
    width: 100%;
    border-top-width: 1px;
    bottom: -6px;
    border-top-color: #e5e4e445;
}