.post{
    background: white;
    margin:10px auto;
    width: 70%;
    box-shadow: 0px 0px 1px 0px #888888;
    padding: 15px;
    border-radius: 4px;
}

.userImage{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 1px 0px #888888;
    box-shadow: 0px 0px 1px 0px #888888;
    margin: 0px 8px 0px 0px;
}
.userpart{

}
.userpart >* {
    float: left;
}
.clearfix{
    clear: both
}

.userName{
    font-weight: bold;
    color: #4176b1;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.38;
}
.userName:hover{
    text-decoration: underline;
}
.posttext{
    margin: 15px 0px 25px 5px;
}
.date{
    color: #90949c;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    font-weight: normal;
    margin-top: -9px;
    display: block;
}
.tool > *{
    float: left;
    width: 33%;
    text-align: center;
    font-size: 13px;
    color: #616770;
    font-weight: bold;
    position: relative;
    top: 15px;
    cursor: pointer;
}

.tool > *:hover{
    color: #4176b1;
    background: #eeeeef4a;
}
hr{
    margin-top: 10px;
    margin-bottom: -5px;
}

.postImageWithText{
    width: 60%;
    margin: auto;
    display: block;
}

.postImageWithoutText{
    width: 100%;
}
.displaynone{
    display: none;
}