<div class="post {{deleteCss}}">

  <p class="post-tool" *ngIf="service.user.id===data.userId " (click)="deletePost(data.userId,data._id)">
    <span class="glyphicon glyphicon-remove"></span>
  </p>

  <div class="userpart" (click)="viewProfile(data.userId)">
    <img class="userImage" *ngIf="data.imageUser" src="data:image/jpeg;base64,{{data.imageUser ||''}}" class="userImage" alt="">
    <img class="userImage" *ngIf="!data.imageUser" src="assets/profile.png">

    <div class="userName-date">
      <p class="userName">{{data.username}} </p>
      <a class="date">{{data.date}}</a>
    </div>
  </div>
  <div class="clearfix"></div>
  <span (click)="viewOriginPost(data)" class="cursor-pointer">
    <p class="posttext">
      {{data.postContent.text}}
    </p>

    <div [class.displaynone]="data.postContent.image == '' ||  data.postContent.image == undefined">
      <img src="data:image/jpeg;base64,{{data.postContent.image ||''}}" [class.postImageWithText]="data.postContent.text !== '' ||  data.postContent.text !== undefined"
        [class.postImageWithoutText]="data.postContent.text === '' || data.postContent.text === undefined">
    </div>
  </span>
  <hr>
  <div class="tool">
    <p>
      <i class="fa fa-thumbs-o-up"></i> Like {{data.like || 0}}</p>
    <p>
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      Comment {{data.comment || 0}}</p>
    <p (click)="sharePost(data.postContent)">
      <i class="fa fa-share" aria-hidden="true"></i>
      {{share}}</p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
