.userChatContainer{
    height: 65px    ;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.image{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #b3b3b3;
    margin: 10px 0px 2px 0px;
}
.nameUserChat{
    display: inline-block;
}
.nameUserChat::first-letter { 
    font-size: 130%;
    color: #0079ff;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: bold;
}
.imageUserContainer{
    width: 50px;
    position: relative;
    display: inline-block;
}
.notfyChat{
    position: absolute;
    display: block;
    background: #f34949;
    min-width: 19px;
    height: 19px;
    border-radius: 50%;
    text-align: center;
    color: white;
    right: -1px;
    top: 6px;
    border: 2px solid white;
    font-size: 10px;
    padding-top: 2px;

}
.userChatContainer hr{
    position: absolute;
    width: 100%;
    border-top-width: 1px;
    bottom: -6px;
    border-top-color: #e5e4e445;
}

.onlineUser{
    background: #1dfd1d;
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 2px solid #f8f8f8;
}


.offlineUser{
    background: #c7c6c6;
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 2px solid #f8f8f8;
}