.navbar-form {
    margin-right: 0px;
    margin-left: 0px;
}


.navbar{
    margin-bottom: 0px
}
@media (min-width: 768px) {
    .search{
        width:200px;
    transition: width .5s;
    
    }
    .search:focus{
        width: 300px;
    }
    .search:active{
        width: 300px;
    }

    .search:visited{
        width: 300px;
    }
}



@media (min-width: 1000px) {
    .search{
        width:400px;
    transition: width .5s;
    
    }
    .search:focus{
        width: 500px;
    }
    .search:active{
        width: 500px;
    }

    .search:visited{
        width: 500px;
    }
}
.Index1{
    width: 100%;
    z-index: 1;
    position: fixed;
}
.header-space{
    height: 50px;
}