.navbar-form {
    margin-right: 0px;
    margin-left: 0px;
}

.imgLogo{
    width: 110px;
    position: relative;
    top: -5px;
}

.navbar{
    margin-bottom: 0px
}
@media (min-width: 768px) {
    .search{
        width:200px;
    transition: width .5s;
    
    }
    .search:focus{
        width: 300px;
    }
    .search:active{
        width: 300px;
    }

    .search:visited{
        width: 300px;
    }
}



@media (min-width: 1000px) {
    .search{
        width:400px;
        transition: width .5s;
        position: relative;
        left: 42px;
    }
    .search:focus{
        width: 500px;
    }
    .search:active{
        width: 500px;
    }

    .search:visited{
        width: 500px;
    }
}
.Index1{
    width: 100%;
    z-index: 111;
    position: fixed;
}
.header-space{
    height: 50px;
}

.imgUser{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid #afadad;
}