<nav class="navbar navbar-default Index1">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" [routerLink]="['']" >Chat WebSite</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="search form-control "  [routerLink]="['searchresult']"  [(ngModel)]="query"  (ngModelChange)="search($event)"  name="search"  placeholder="Search on Post, Username & Email" >
      </div>
    </form>
    
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLink]="['profile']"><a ><span class="glyphicon glyphicon-user"></span> {{service.user.username}} </a></li>
        <li [routerLink]="['signout']"><a ><span class="glyphicon glyphicon-log-out"></span> SignOut</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="header-space">

</div>