aside {
    background: #f8f8f8;
    ;
    width: 200px;
    height: 100vh;
    float: left;
    position: relative;
    border-right: 1px solid #d5d5d5;
}

.Index0 {
    z-index: 40;
    position: fixed;
}

.side-btn {
    position: absolute;
    right: -12px;
    top: 41px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    background: #79a7cf;
    box-shadow: 0px 0px 9px 1px #888888;
    color: white;
    padding: 3px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.side-btn:hover {
    background: #3f78ab;
}

.total-notfy{
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    background: #f34949;
    border-radius: 50%;
    font-size: 10px;
    min-width: 15px;
    min-height: 15px;
    padding-top: 1px;
}
.closed {
    left: -75px;
    transition: all 0.3s ease;
}

.opened {
    left: 0px;
    transition: all 0.3s ease;
}

.chatUserGruop {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100% - 50px);
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #0079ff;
    outline: 1px solid slategrey;
}