.aboutContainer{
    position: relative;
    margin-bottom: 50px;
}
.settings{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #bcd2d2;
    height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 4px;
    color: #8e8a8a;
    cursor: pointer;
}
.form-control{
    display: unset;
    height: 29px;
}
.headerData{
    color: #888888;
    margin: 30px auto 0px auto;
    width: 85%;

}
.aboutContainer:hover .settings{
    background: #a3adad;
    color: white;
}
.data{
    display: inline;
    padding-left: 20px;
}
.changeData{
    display: none;
    padding-left: 20px;
    
}
.error-border{
    border-color: red;
}
.saveChange{
    width: 100px;
    display: none;
    margin: 50px auto;
    background: #163d5e;
    color: white;
    border: 1px solid #6f6f6f70;
    border-radius: 2px;
}
.saveChange:hover{
    background: #1d496e;
}

.saveChange:active{
    background: #3776ac;
}
.tableContainer{
    margin: auto;
    width: 80%;
}
tr{
    height: 45px;
}
.interest{
    background: #8dd1fb;
    height: 30px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0px 0px 2px 0px #888888;
    margin: 5px;
}
.deleteInterest{
    display: none;
    position: absolute;
    right: 4px;
    top: 8px;
    background: #2e739e;
    height: 14px;
    width: 14px;
    border-radius: 48%;
    color: white;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    /* box-shadow: 0px 0px 1px 0px #888888; */
}

.interest:hover .deleteInterest{
    display: block;
}

.addInterest{
    position: absolute;
    right: 4px;
    top: 8px;
    background: #2e739e;
    height: 14px;
    width: 14px;
    border-radius: 48%;
    color: white;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    padding: 2px;
    /* font-weight: 900; */
}




.interest input{
    width: 30px;
    background: #8dd1fb;
    border: none;
    height: 15px;
}



/* change Mode */

.changeMode .data{
    display: none;
}

.changeMode .changeData{
    display: inline;
}
.changeMode .settings{
    display: none;
}
.changeMode .saveChange{
    display: block;
}

/*END change Mode */